@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body{
    font-family:Courgette, sans-serif;
    color: black;
    background-color:silver;
}
#logo{
    float:left;
    font-size: 80%;
    margin-left: 30px;
    color: black;
}
#icon{
    float: right;
    font-size: 120%;
    margin-right: 30px;
    margin-top: 0px;
   
}
/* hero image */
#hero-image{
    height: 600px;
    width: 100%;
    background: url(../images/pexels-photo-4682110\ \(1\).jpeg) no-repeat center;
    /* zoom when page load */
    animation-name: zoom-img;
    animation-duration: 5s;
    animation-fill-mode: forwards;
     
}
#zoom-image{
    height: 600px;
    width: 100%;
    overflow: hidden;
}
/*  create zoom effect for main image */
@keyframes zoom-img{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
